@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 14px;
    width: 100%;
}

.container {
    font-family: Montserrat;
    margin: 0 auto;
    width: 1920px;
}

.header-slider {
    background-image: url(../img/slider-bg.jpg);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1024px;
}

.header-slider__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.header-slider__header nav {
    margin-left: 204px;
}

.header-slider__header ul {
    display: flex;
    list-style-type: none;
}

.header-slider__header li {
    padding: 20px 15px;
}

.header-slider__header li a {
    color: #ffffff;
    text-decoration: none;
}

.header-slider__header li a:hover {
    color: #c7b29a;
}

.cart {
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    margin-left: 63px;
}

.cart__cart-svg {
    fill: white;
    cursor: pointer;
}

.search {
    width: 224px;
    height: 24px;
    border: none;
    margin-left: 28px;
}

.search[type="search"] {
    background: none;
    background-image: url(../svg/icon-search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

.search[type="search"]:focus {
    transition: width 0.3s ease-out;
    background-position: left;
    color: #fff;
}

.header-slider__main {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.header-slider__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-slider__content span {
    font-size: 36px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}

.header-slider__content h1 {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 52px;
}

.header-slider__content p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 9px;
    text-align: center;
    width: 562px;
    word-wrap: break-word;
}

.header-slider__content a {
    border-radius: 3px;
    background-color: #998675;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 53px;
    margin-top: 52px;
    width: 170px;
    height: 53px;
}

.header-slider__content a:hover {
    border: solid 1px #998675;
    background-color: #fff;
    color: #998675;
}

.header-slider__previous,
.header-slider__next {
    display: block;
    width: 40px;
    height: 73px;
}

.header-slider__previous:after,
.header-slider__next:before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
}

.header-slider__previous:after {
    transform: rotate(-45deg);
}

.header-slider__next:before {
    transform: rotate(135deg);
}

.header-slider__previous:hover:after,
.header-slider__next:hover:before {
    border-top: 2px solid #d3c1ad;
    border-left: 2px solid #d3c1ad;
}

.header-slider__buttons {
    margin-bottom: 40px;
}

.header-slider__button {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    width: 11px;
    height: 11px;
}

.header-slider__button:hover {
    border: 2px solid #d3c1ad;
    background-color: rgba(255, 255, 255, 0);
    width: 15px;
    height: 15px;
    margin: 2px;
}

.about {
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__services {
    display: flex;
    justify-content: center;
}

.about__content {
    background-color: #fbfaf8;
    text-align: center;
}

.purchase {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
}

.latest-projects {
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-projects__nav {
    align-items: center;
}

.latest-projects__nav ul {
    display: flex;
    list-style-type: none;
}

.latest-projects__nav a {
    color: #8c8c8c;
    text-decoration: none;
}

.latest-projects__projects-wrapper {
    display: flex;
    justify-content: space-between;
}

.video {
    /*    color: #ffffff;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    background-color: #fbfaf8;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/iPhone%20in%20hand.png) no-repeat;
}

.mobile__content {
    display: flex;
    flex-direction: column;
}

.statistics {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    color: #c7b299;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    To make mixin with parametr column or row*/
}

.statistics figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-posts {
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recent-posts__posts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners {
    background: url(../img/footer-bg.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    background-color: #191919;
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    background-color: #111111;
    color: #545454;
    display: flex;
}

.footer-bottom__nav ul {
    display: flex;
    list-style-type: none;
}

.footer-bottom__info {
    display: flex;
}
