@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat-regular.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../fonts/montserrat-light.ttf);
}

@font-face {
    font-family: montserrat-extralight;
    src: url(../fonts/montserrat-extralight.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/raleway-regular.ttf);
}

@font-face {
    font-family: raleway-medium;
    src: url(../fonts/raleway-medium.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
    font-family: raleway-bold;
    src: url(../fonts/raleway-bold.ttf)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 14px;
    width: 100%;
}

.container {
    font-family: montserrat;
    margin: 0 auto;
    width: 1920px;
}

.header-slider {
    background-image: url(../img/slider-bg.jpg);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1024px;
}

.header-slider__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.logo-svg {
    font-size: 34px;
    font-family: raleway, sans-serif;
    fill: rgb(255, 255, 255);
    width: 181px;
    height: 56px;
}

.logo-svg:hover {
    fill: #c7b29a;
}

.logo-svg:active {
    fill: orange;
}

.header-slider__header nav {
    margin-left: 204px;
}

.header-slider__header ul {
    display: flex;
    list-style-type: none;
}

.header-slider__header li {
    padding: 20px 15px;
}

.header-slider__header li a {
    color: #ffffff;
    text-decoration: none;
}

.header-slider__header li a:hover {
    color: #c7b29a;
}

.header-slider__header li a:active {
    color: orange;
}

.cart {
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    margin-left: 63px;
}

.cart__cart-svg {
    fill: white;
    cursor: pointer;
}

.cart__cart-svg:hover {
    fill: #c7b29a;
}

.cart__cart-svg:active {
    fill: orange;
}

.search {
    width: 224px;
    height: 24px;
    border: none;
    margin-left: 28px;
    cursor: pointer;
}

.search[type="search"] {
    background: none;
    background-image: url(../svg/icon-search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

.search[type="search"]:focus {
    transition: width 0.3s ease-out;
    background-position: left;
    color: #fff;
    border: 1px solid #998675;
    outline: none;
}

.header-slider__main {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.header-slider__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-slider__content span {
    font-size: 36px;
    font-family: raleway-medium, sans-serif;
}

.header-slider__content h1 {
    font-family: raleway-bold, sans-serif;
    font-size: 52px;
}

.header-slider__content p {
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 9px;
    text-align: center;
    width: 562px;
    word-wrap: break-word;
}

.header-slider__content a {
    border-radius: 3px;
    background-color: #998675;
    font-family: raleway-bold;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 53px;
    margin-top: 52px;
    width: 170px;
    height: 53px;
}

.header-slider__content a:hover {
    border: 1px solid #998675;
    background-color: #fff;
    color: #998675;
}

.header-slider__previous,
.header-slider__next {
    display: block;
    width: 40px;
    height: 73px;
}

.header-slider__previous:after,
.header-slider__next:before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
}

.header-slider__previous:after {
    transform: rotate(-45deg);
}

.header-slider__next:before {
    transform: rotate(135deg);
}

.header-slider__previous:hover:after,
.header-slider__next:hover:before {
    border-top: 2px solid #d3c1ad;
    border-left: 2px solid #d3c1ad;
}

.header-slider__buttons {
    margin-bottom: 40px;
}

.header-slider__button {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    width: 11px;
    height: 11px;
}

.header-slider__button:hover {
    border: 2px solid #d3c1ad;
    background-color: rgba(255, 255, 255, 0);
    width: 15px;
    height: 15px;
    margin: 2px;
}

.header-slider__button:active {
    border: 2px solid orange;
    background-color: rgba(255, 255, 255, 0);
    width: 15px;
    height: 15px;
    margin: 2px;
}

.about {
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
}

.about__services {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about__service {
    display: block;
    text-decoration: none;
    margin: 80px 17px;
    width: 271px;
}

.about__service:hover:after {
    border-bottom: 3px solid #deb887;
}

.about__service:hover h4 {
    color: #c7b299;
}

.about__service:hover .service-icon {
    fill: #c7b299;
}

.about__service:after {
    border-bottom: 3px solid #f1eee9;
    content: "";
    display: inline-block;
    height: 33px;
    width: 70px;
}

.service-icon {
    fill: #555;
    margin-bottom: 19px;
    height: 49px;
    width: 49px;
}

.about__service h4 {
    color: #555;
    font-family: raleway-semibold, sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
}

.about__service p {
    font-size: 14px;
    font-family: montserrat-light, sans-serif;
    line-height: 24px;
    color: #8c8c8c;
}

.about__content-wrapper {
    background-color: #fbfaf8;
}

.about__content {
    align-items: center;
    background-image: url(../img/browser-center.jpg), url(../img/browser-left.jpg), url(../img/browser-right.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center bottom, left bottom, right bottom;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 650px;
    margin: 83px 340px 0;
}

.about__content h3 {
    font-family: raleway-semibold, sans-serif;
    color: #555;
    font-size: 30px;
    margin-bottom: 24px;
}

.about__content p {
    font-size: 16px;
    font-family: montserrat-light, sans-serif;
    line-height: 28px;
    width: 757px;
}

.purchase {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
    padding: 48px 374px;
}

.purchase__text h2 {
    font-family: raleway, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

.purchase__text span {
    color: #c7b299;
}

.purchase__text p {
    font-family: montserrat-light, sans-serif;
    font-size: 18px;
    color: #615855;
}

.purchase__button {
    border-radius: 3px;
    background-color: #998675;
    font-family: raleway-bold, sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 170px;
    height: 50px;
}

.purchase__button:hover {
    border: 1px solid #998675;
    background-color: #fff;
    color: #998675;
}

.latest-projects {
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 344px;
}

.latest-projects h2 {
    font-family: raleway-semibold;
    font-size: 30px;
    color: #555;
}

.latest-projects p {
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    line-height: 28px;
    width: 780px;
    text-align: center;
    margin: 24px 0 40px;
}

.latest-projects__nav {
    align-items: center;
    margin-bottom: 25px;
}

.latest-projects__nav ul {
    display: flex;
    list-style-type: none;
}

.latest-projects__nav li {
    margin: 5px;
}

.latest-projects__nav a {
    border: 2px solid #ebecec;
    border-radius: 3px;
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    line-height: 21px;
    padding: 11px 25px;
    text-decoration: none;
}

.latest-projects__nav a:hover {
    background: #998675;
    color: #fff;
}

.latest-projects__projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.latest-projects__project {
    background: #fbfaf8;
    margin: 15px;
    padding-bottom: 28px;
    width: 370px;
    position: relative;
}

.latest-projects__project:hover {
    background: #362f2d;
}

.latest-projects__project:hover img {
    filter: brightness(30%);
}

.latest-projects__project h4 {
    font-family: raleway-medium, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #c7b29a;
    padding: 27px 30px 0;
    position: relative;
}

.latest-projects__project:hover h4 {
    color: #fff;
}

.latest-projects__project h4:before {
    border: 18px solid transparent;
    border-bottom-color: #fbfaf8;
    content: '';
    position: absolute;
    top: -40px;
    width: 0;
    height: 0;
    left: 20px;
}

.latest-projects__project:hover h4:before {
    border-bottom-color: #362f2d;
}

.latest-projects__project span {
    font-family: montserrat-light;
    font-size: 14px;
    line-height: 28px;
    padding-left: 30px;
}

.latest-projects__project:hover span {
    color: #c7b299;
}

.project-link,
.project-watch {
    display: none;
    border: none;
    position: absolute;
}

.project-link {
    background: transparent;
    top: 106px;
    left: 142px;
    cursor: pointer;
}

.project-watch {
    top: 106px;
    right: 142px;
}

.latest-projects__project:hover .project-link,
.latest-projects__project:hover .project-watch {
    display: block;
}

.project-link__svg,
.project-watch__svg {
    fill: #fff;
}

.project-link__svg:hover,
.project-watch__svg:hover {
    fill: #c7b299;
}

.project-link__svg:active,
.project-watch__svg:active {
    fill: orange;
}

.load-button {
    background: #998675;
    border: 2px solid transparent;
    border-radius: 3px;
    font-family: raleway-bold, sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 23px;
    margin-top: 40px;
    padding: 15px 40px;
}

.load-button:hover {
    background: #fff;
    border: 2px solid #998675;
    color: #998675;
}

.load-button:active {
    border-color: orange;
    outline: none;
}

.video {
    position: relative;
}

.video video {
    width: 1920px;
    height: 705px;
}

.video__poster-content {
    color: #fff;
    position: absolute;
    top: 208px;
    left: 684px;
    width: 552px;
    text-align: center;
}

.video__button {
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 44px;
}

.video__button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.video__button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.video__button-svg {
    fill: #fff;
}

.video__button-svg:hover {
    fill: rgb(0, 0, 0);
}

.video__button-svg:active {
    fill: orange;
}

.video__poster-content h3 {
    font-family: raleway-medium, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
}

.video__poster-content p {
    font-family: montserrat-light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 36px;
}

.video__poster-content time {
    font-size: 14px;
    font-weight: 600;
    color: #c7b299;
    line-height: 24px;
}

.mobile {
    background-color: #fbfaf8;
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    padding: 79px 385px 0;
}

.mobile__content {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    padding-top: 116px;
    width: 665px;
}

.mobile__content h2 {
    font-family: raleway-semibold, sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #555;
    margin-bottom: 30px;
}

.mobile__content p,
.mobile__content li {
    font-family: montserrat-light, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.mobile__content p {
    line-height: 28px;
    margin-bottom: 45px;
}

.mobile__content ul {
    padding-left: 100px;
}

.mobile__content li {
    line-height: 32px;
    position: relative;
    list-style-type: none;
}

.mobile__content li:before {
    background-image: url(../svg/list-icon.svg);
    display: inline-block;
    content: " ";
    position: absolute;
    top: 5px;
    left: -50px;
    width: 21px;
    height: 21px;

}

.statistics {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    color: #c7b299;
    display: flex;
    justify-content: center;
    padding: 24px 0 10px;
}

.statistics__block {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 45px;
    position: relative;
}

.statistics__block:after {
    border-bottom: 2px solid #fff;
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
}

.statistics__icon {
    fill: #c7b299;
    margin-bottom: 30px;
    width: 54px;
    height: 44px;
}

.statistics__number {
    font-family: montserrat-extralight, sans-serif;
    font-size: 48px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 21px;
}

.statistics__name {
    font-family: montserrat-light, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
    text-transform: uppercase;
}

.recent-posts {
    align-items: center;
    color: #8c8c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 81px 375px;
}

.recent-posts h2 {
    font-family: raleway-bold, sans-serif;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
}

.recent-posts p {
    font-family: montserrat-light;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 25px 0 35px;
    text-align: center;
    width: 769px;
}

.recent-posts__posts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-posts__post {
    width: 370px;
}



.recent-posts__post p {
    width: 297px;
}

.partners {
    background: url(../img/footer-bg.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.partners a {
    display: block;
    margin: 45px;
}

.partners a img:hover {
    filter: brightness(50%);
}

.footer-content {
    background-color: #191919;
    color: #545454;
    display: flex;
    justify-content: space-between;
    padding: 80px 360px;
}

.footer-content p {
    font-family: montserrat-light, sans-serif;
    color: #545454;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer-content p:hover {
    color: #c7b299;
    cursor: pointer;
}

.footer-content p:hover time {
    color: #fff;
}

.footer-content__about {
    width: 265px;
}

.footer-content__about p {
    line-height: 24px;
}

.footer-content__read-more {
    margin-top: 33px;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    color: #d1d1d1;
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
}

.footer-content__read-more:hover:after {
    border: 5px solid transparent;
    border-left: 8px solid #d1d1d1;
    content: "";
    top: 6px;
    left: 90px;
    position: absolute;
}

.footer-content div {
    margin-top: 24px;
    width: 277px;
}

.footer-content h3 {
    font-family: raleway-bold, sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.footer-content time {
    color: #363636;
    font-size: 12px;
    display: block;
    line-height: 24px;
}

.footer-content__user {
    color: #00bff3;
    text-decoration: none;
}

.footer-content__link {
    color: #959595;
    text-decoration: none;
}

.footer-content hr {
    border: 1px solid #252525;
    margin: 21px 0 19px;
}

.widget-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}

.widget-wrapper a {
    display: block;
}

.widget-wrapper img {
    height: 98px;
    width: 130px;
}

.widget-wrapper img:hover {
    filter: sepia(90%);
}

.footer-bottom {
    background-color: #111111;
    color: #545454;
    font-family: montserrat-light, sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 48px 375px;
    line-height: 20px;
    width: 100%;
}

.footer-bottom p {
    margin-right: 15px;
}

.footer-bottom span,
.footer-bottom__info a {
    color: #959595;
}

.footer-bottom div {
    display: flex;
}

.footer-bottom__nav ul {
    display: flex;
}

.footer-bottom__nav li {
    list-style-type: none;
    padding: 0 15px;
    position: relative;
}

.footer-bottom__info p:nth-child(2) {
    margin-right: -15px;
}

.footer-bottom__nav li:after,
.footer-bottom__info p:nth-child(2):after {
    background: #242424;
    content: "";
    width: 1px;
    height: 9px;
    top: 6px;
    left: 0;
    position: absolute;
}

.footer-bottom__nav a {
    color: #545454;
    text-decoration: none;
}

.footer-bottom__nav a:hover {
    color: #c7b299;
}

.footer-bottom__info {
    display: flex;
}

.footer-bottom__info p {
    padding-left: 15px;
    position: relative;
}

.footer-bottom__info a {
    text-decoration: none;
}

.footer-bottom__info a:hover {
    color: darkorange;
}
